<nav>
    <ul>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
    </ul>
</nav>
<main>
    <router-outlet></router-outlet>
</main>