:host{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
}
:host i{
    color: white;
    font-size: 2em;
}