<main>
    <router-outlet></router-outlet>
</main>
<nav>
    <ul class="d-flex">
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
        <li><a routerLink="imobiliario">Imobiliário</a></li>
        <li><a routerLink="logradouro">Logradouro</a></li>
    </ul>
</nav>