:host{
    display: grid; 
    grid-template-rows: minmax(15vh,auto) minmax(70vh,auto) minmax(15vh,auto);
}

app-header{
    background-color: blue;
    /* position: fixed;
    width: 100%;
    height: 15vh;
    top:0; */
}

app-main{
    background-color: white;
    /* margin-top: 15vh;
    margin-bottom: 15vh; */
}

app-footer{
    background-color: blue;
    /* position: fixed;
    width: 100%;
    height: 15vh;
    bottom: 0; */
}