*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

app-root{
    display: grid;
    grid-template-rows: minmax(15vh,auto) minmax(70vh,auto) minmax(15vh,auto);
}

app-header{
    background-color: blue;
}

app-main{
    
}

app-footer{
    background-color: blue;
}